<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .cuozuo{
            position: fixed;
            bottom: 0;
            left: 0;
            height: 100px;
            background-color: beige;
            width: 100%;
        }
        .caozuo input{
            font-size: 30px;
        }
        .caozuo input[type=text]{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>小小聊天室 <span id="username"><%=username%></span> 在线人数：<%=count%> </h1>

    <div>
        <ul class="liebiao">
        </ul>
    </div>
    <div class="cuozuo">
        <input type="text" id="content">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script>
        var socket = io();
        $("#content").keydown(function(e){
            if(e.keyCode == 13){
                socket.emit('liaotian',{
                    "content": $("#content").val(),
                    "name":$("#username").text()
                });
                $(this).val("");
            }

        });
        socket.on("liaotian",function(msg){
//           $(".liebiao").prepend('<li><b>'+msg.name+'</b>:'+msg.content+'</li>');
           $(".liebiao").append('<li><b>'+msg.name+'</b>:'+msg.content+'</li>');
        });
    </script>
</body>
</html>