<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/check" method="get">
            <input type="text" id="username" name="username">
            <input type="submit" value="进入聊天室">
        </form>
    </div>
</body>
</html>