<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <%=body%>

    <!--<script src="/js/jquery-1.11.1.min.js"></script>-->
    <!--<script>-->
        <!--$.ajax({-->
            <!--url : "/useInterface.jspx",-->
            <!--method : "get",-->
            <!--data : {bexid: "410541",paramKey1:"categoryid",paramValue1:"all"},-->
            <!--success: function(data){-->
            <!--},-->
            <!--error: function(data){-->
            <!--}-->
        <!--});-->
    <!--</script>-->
</body>
</html>